* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 1448px;
  height: 1024px;
  font-family: "Malgun-Ghotic", serif;
}

.cover {
  width: 1448px;
  height: 1024px;
}

.bk-img {
  width: 100%;
  height: 1024px;
  display: flex;
  position: absolute;
}

.logo {
  display: flex;
  position: absolute;
  text-align: left;
  width: 180px;
  margin-left: 1170px;
  margin-top: 90px;
}

.title {
  display: flex;
  position: absolute;
  font-family: Malgun-Ghotic;
  font-size: 33px;
  font-style: bold;
  width: 366px;
  margin-top: 525px;
  margin-left: 200px;
  letter-spacing: 2px;
  color: #434142;
}

.h2 {
  display: flex;
  position: absolute;
  font-family: Malgun-Ghotic;
  font-size: 33px;
  margin-top: 566px;
  margin-left: 200px;
  letter-spacing: 2px;
  color: #434142;
}

.contact {
  display: flex;
  width: 1448px;
  flex-direction: row;
  position: absolute;
  margin-top: 965px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 11px;
  color: #434142;
}

.icons {
  padding-right: 8px;
}
small {
  padding-right: 13px;
}

.page_01 {
  width: 1448px;
  height: 1024px;
}

.item1 {
  display: flex;
  position: absolute;
  width: 637px;
  height: 425px;
  transform: translate(77px, 77px);
}

.item-image {
  display: flex;
  position: absolute;
  width: 289px;
  height: 289px;
}

.cod {
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: row-reverse;
  padding-right: 37px;
  padding-top: 26px;
  color: #929292;
  font-family: Helvetica;
  font-weight: lighter;
}

.item-content {
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 50px;
  padding-right: 37px;
}

.item-name {
  font-family: Helvetica;
  font-stretch: condensed;
  font-size: 22px;
  color: #434142;
  margin-bottom: 3px;
}

.item-description {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 16px;
  color: #434142;
}

.available-colors {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 190px;
  padding-right: 37px;
  font-size: 12px;
}

.item-colors {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.color {
  width: 40px;
  flex-direction: row;
}

.table-prices {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  position: absolute;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 272px;
}

/* .item2 {
  display: flex;
  position: absolute;
  width: 637px;
  height: 425px;
  background-color: salmon;
  transform: translate(733px, 77px);
} */
