* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Malgun-Gothic";
}

.bk-img {
  width: 1448px;
  height: 1024px;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
}

.logo {
  display: flex;
  position: absolute;
  text-align: left;
  width: 88px;
  margin-left: 1170px;
  margin-top: 90px;
}

.title {
  display: flex;
  position: absolute;
}
